@inherits LayoutComponentBase

<HeadContent>
</HeadContent>
<div class="page p-0">
    <main>
        <article class="content ">
            @Body
        </article>
    </main>
</div>

<div class="col-md-auto text-md-right  fixed-bottom">
    <RadzenLabel class="arabic-footer" Text="Smart up Software Solutions, Copyright &copy; 2024">
    </RadzenLabel>
</div>